@charset "utf-8";

.input {
    color: #2d3748;
    border-width: 1px;
    border-radius: .25rem;
    cursor: text;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input::placeholder {
    color: #718096;
}

.input--primary {

}

.input--error {
    border: 1px solid var(--red-dark);
    background-color: #ffdbdb;
}

.select {
    border-radius: 3px;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
    outline: none;
}

/* fixing the ugly select arrows in firefox */
@supports (-moz-appearance:none) {
    .select {
        -moz-appearance: none !important;
        background-repeat: no-repeat !important;
        background-image: url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') !important;
        background-position: calc(100% - 5px) center !important;
        -moz-padding-end: 20px;
    }
}

.select--primary {
    background-color: #fff;
    border: 2px solid var(--red);
}

.select--secondary {
    background-color: #fff;
    border: 1px solid var(--grey);
}
