@import "components/components.css";


/*------------------------------------*\
   Page
\*------------------------------------*/

html {
  box-sizing: border-box;
  font-size: 16px;
}
@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

/* applies a natural box layout model to all elements, but allowing components to change */
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --white: #fefefe;

  --grey: #353535;
  --grey-light: #8b8b8b;

  --red: #f00;
  --red-dark: #c10000;
}

::selection {
  color: var(--white);
  background: var(--red-dark);
}
::-moz-selection {
  color: var(--white);
  background: var(--red-dark);
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif !important;
  line-height: 1.5;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  background-color: var(--white);
  color: var(--grey);
}

.text-red {
  color: var(--red);
}

.text-grey {
  color: var(--grey);
}






/*------------------------------------*\
   Markdown
\*------------------------------------*/

.markdownContent h1,
.markdownContent h2,
.markdownContent h3,
.markdownContent h4 {
    font-weight: bold;
    color: var(--red);
}

.markdownContent h1 {
    font-size: 3.0rem;
}

.markdownContent h2 {
    font-size: 2.0rem;
}

.markdownContent h3 {
    font-size: 1.5rem;
}

.markdownContent h4 {
    font-size: 1rem;
}

.markdownContent a {
    color: var(--red);
    text-decoration: underline;
    cursor: pointer;
}

.markdownContent a:hover {
    color: var(--red-dark);
}

.markdownContent a:focus {
    color: var(--red-dark);
    font-weight: bold;
}

.markdownContent ul {
    list-style: disc inside;
    line-height: 1;
}
.markdownContent ol {
    list-style: decimal inside;
    line-height: 1;
}

.markdownContent pre {
    margin: 0;
    padding: 1rem;
    overflow-x: auto;
    background-color: #f5f2f0;
}
.markdownContent pre code {
    padding: 0;
}

.markdownContent code {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    background-color: #f5f2f0;
}