@charset "utf-8";

.btn {
    display: inline-block;

    padding: 5px 10px;

    border-radius: .25rem;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;

    transition: all 0.2s ease;

    text-decoration: none;
    cursor: pointer;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


/*------------------------------------*\
  #BUTTONS-COLOURS
\*------------------------------------*/

.btn--primary {
    border: 1px solid var(--red);
    background: var(--red);
    color: var(--white);
}

.btn--primary:hover {
    background: var(--red-dark);
    box-shadow: 1px 2px 3px var(--grey-light);
}

.btn--secondary {
    border: 1px solid var(--red);
    background: var(--white);
    color: var(--grey);
}

.btn--secondary:hover {
    box-shadow: 1px 2px 3px var(--grey);

    border: 1px solid var(--red);
    background: var(--red);
    color: var(--white);
}


/*------------------------------------*\
  #OPTION BUTTONS
\*------------------------------------*/

.optionBtn {
    display: inline-block;

    padding: 5px 10px;

    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;

    transition: all 0.2s ease;

    text-decoration: none;
    cursor: pointer;

    background: var(--grey);
    color: white;
}

.optionBtn:hover {
    box-shadow: 1px 2px 3px var(--grey);
}
.optionBtn--selected {
    background: var(--red);
    color: var(--white);
}